* {
    margin: 0;
    padding: 0
}

.parent {
    position: relative;
    height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background-color: #2B3247;
    color: #fff;
}

.aside {
    position: fixed;
    top: 90px;
    left: 0;
    width: 220px;
    height: calc(100% - 90px);
    background-color: #202638;
    color: #fff;
}

iframe {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}